body {
  background-color: #222831;
  margin:0;
  padding:0;
}

/* HEADER STUFF */

.site-header {
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-color: #393e46;
}

.site-header-centered {
  float: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

/* SITENAME STUFF */

#sitename {
  float: left;
  position: absolute;
  top: 20%;
  left: 4%;
}

.site-header-href {
  position: relative;
  display: inline-block;
  padding-top: 0em;
  height: 2em;
  color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 200%;
  text-transform: capitalize;
  text-decoration: none;
  overflow: hidden;
}

/* transition from sitename to author */
#sitename-text-p {
  color: #32e0c4;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  user-select:none;
}

#sitename-text-kyle {
  position: relative;
  right: 0;
  transition: right ease 0.5s;
  user-select:none;
}

#sitename-text-dot {
  color: #32e0c4;
  position: relative;
  bottom: 0;
  transition: bottom ease 0.3s;
  user-select:none;
}

#sitename-text-me {
  position: relative;
  bottom: 0;
  transition: bottom ease 0.5s;
  user-select:none;
}

#sitename-text-hillips {
  color: #32e0c4;
  position: relative;
  top: 0.6em;
  left: 0.75em;
  user-select:none;
}

#sitename-text-hillips-pos {
  position: relative;
  bottom: 0;
  padding-bottom: 0.1em;
  transition: bottom ease 0.5s;
}

#sitename:hover {
  bottom: 0.5em;
}

#sitename-href:hover > #sitename-text-p {
  top: 1em;
}

#sitename-href:hover > #sitename-text-kyle {
  right: 0.75em;
}

#sitename-href:hover > #sitename-text-me {
  bottom: 1em;
}

#sitename-href:hover > #sitename-text-dot {
  bottom: 1em;
}

#sitename-href:hover > #sitename-text-hillips-pos {
  bottom: 0.85em;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.letter {
  display: inline-block;
  line-height: 1em;
}
