/*
https://www.color-hex.com/color-palette/2738
*/
@font-face {
  font-family: "sniglet";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/sniglet/Sniglet-ExtraBold.otf) format("truetype");
}
@font-face {
  font-family: "sniglet";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/sniglet/Sniglet-Regular.otf) format("truetype");
}

#card-wrapper {
  position: relative;
  min-width: 200px;
  max-width: 600px;
  width: 75vw;
  min-height: 300px;
  max-height: 1000px;
  height: 50vh;
  margin: 0 auto;
  padding: 25px 25px;
  border-radius: 14px;
  background: rgba(16, 18, 27, 0.07);
  background-size: cover;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2px);
  z-index:10000;

  overflow-y: scroll;
  overflow-x: hidden;
}

#survey-form {
  position: relative;
  text-align: center;
}

#title {
  font-family: 'sniglet', sans-serif;
  font-weight: 800;
  font-size: 4em;
  color: #FFF;
  text-align: center;
  margin-bottom: 0;
}

#description {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

#edited {
  margin-top: 0;
  margin-bottom: 50px;
}

p {
  font-family: 'sniglet', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #FFF;
  text-align: center;
}

label {
  font-family: 'sniglet', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #FFF;
}

input, textarea, button {
  margin: 1em 1em 2em 1em;
  padding: 10px 20px;
  border-radius: 50px;
}

select {
  margin: 1em 1em 2em 1em;
  padding: 10px 20px;
  border-radius: 5px;
}

.button {
  font-family: 'sniglet', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  text-align: center;
  display: inline-block;
  width: auto;
  max-width: 90%;
  border: none;
	outline: none;
	color: #FFF;
	background: rgba(70,160,200,0.4);
  box-shadow: 0 3px 20px 0 rgba(200,200,200,0.1);
}

.button:active {
  box-shadow: inset 0 3px 20px 0 rgba(0,0,0,0.1);
}

body {
  height: 100vh;
  width: 100%;
  background-color: #0f5e9c;
  background-image: linear-gradient(#74ccf4, #5ab7d9, #1ca1eb, #2389da, #0f5e9c);
  padding:0;
  margin:0;
  overflow: hidden;
}

main {
  position: relative;
  z-index: 9999
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  font-weight: lighter;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbb;
  font-weight: lighter;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbb;
  font-weight: lighter;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 2em;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

/* Bubbles */

#bubbles {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: transparent;
  align-items: center;
  justify-content:space-around ;
  position: absolute;
}

.bubble {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}

.b1 {
  left: 16vw;

    -webkit-transform: scale(0.44);
    -moz-transform: scale(0.44);
    transform: scale(0.44);

    -webkit-animation: moveclouds 3s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 3s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 3s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.b2 {
    left: 55vw;
    -webkit-transform: scale(0.36);
    -moz-transform: scale(0.36);
    transform: scale(0.36);

    -webkit-animation: moveclouds 4s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 4s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 4s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.b3 {
    left: 78vw;
    -webkit-transform: scale(0.34);
    -moz-transform: scale(0.34);
    transform: scale(0.34);

    -webkit-animation: moveclouds 5s linear infinite, sideWays 9s ease-in-out infinite alternate;
    -moz-animation: moveclouds 5s linear infinite, sideWays 9s ease-in-out infinite alternate;
    -o-animation: moveclouds 5s linear infinite, sideWays 9s ease-in-out infinite alternate;
}
.b4 {
    left: 22vw;
    -webkit-transform: scale(0.32);
    -moz-transform: scale(0.32);
    transform: scale(0.32);

    -webkit-animation: moveclouds 6s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 6s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 6s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.b5 {
    left: 67vw;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);

    -webkit-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.b6 {
    left: 46vw;
    -webkit-transform: scale(0.35);
    -moz-transform: scale(0.35);
    transform: scale(0.35);

    -webkit-animation: moveclouds 8s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 8s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 8s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.b7 {
    left: 58vw;
    -webkit-transform: scale(0.27);
    -moz-transform: scale(0.27);
    transform: scale(0.27);

    -webkit-animation: moveclouds 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.b8 {
    left: 29vw;
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    transform: scale(0.25);

    -webkit-animation: moveclouds 10s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: moveclouds 10s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -o-animation: moveclouds 10s linear infinite, sideWays 3s ease-in-out infinite alternate;
}
.b9 {
    left: 27vw;
    -webkit-transform: scale(0.32);
    -moz-transform: scale(0.32);
    transform: scale(0.32);

    -webkit-animation: moveclouds 11s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 11s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 11s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.b10 {
    left: 57vw;
    -webkit-transform: scale(0.26);
    -moz-transform: scale(0.26);
    transform: scale(0.26);

    -webkit-animation: moveclouds 12s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 12s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 12s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
    0% {
        top: 100vh;
    }
    100% {
        top: -10vh;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: -10vh;
    }

    100% {
        top: 100vh;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% {
        top: -10vh;
    }
    100% {
        top: 100vh;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
